*{
    padding:0px !important;
}
body{
    font-family: 'Roboto Slab', serif;
    transition: all 0.5s ease;
    background-color:rgb(51, 51, 51);
}
#spazio{
    margin-top:150px;
}
.pageTitle,.pageFooter{
    margin-top:5px;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    letter-spacing:0.5px;
    font-weight: bold;
    color:black;
    background-color:rgb(230, 230, 0);
    text-align:center;
    padding:7px;
    border-bottom:0.2em solid rgb(179, 89, 0);
}
.intestazione{
    background-color:white;
    color:black;
    border:12px solid rgb(245, 243, 246);
    text-align:center;
    font-weight: bold;
    font-size:25px;
    padding:7px;
}
#coverImage{
    padding-right:0px;
}
#coverTesto{
    background-color:rgb(230, 230, 0);
    margin:0px;
    height:300px;
    padding:10px !important;
}
#immagine{
    background-position:center center;
    background-size:cover;
    background-color:black;
    height:300px;
    margin-right:0px;
}
.testo{
    color:black;
    font-size:26px;
    padding-left:10px !important;
    text-align: center;
    font-weight: normal;
    line-height: 36px;
}
.testo h2{
    padding:10px !important;
    margin-top:44px;
    margin-bottom:10px;
}
.bottone{
    padding-left:10px;
    display:flex;
    justify-content:center;
}
#btnCover{
    background-color:rgb(230, 230, 0);
    color:black;
    border-radius:0px;
    border:3px solid black;
    font-size:18px;
    font-weight: bold;
    padding:15px 30px !important;
    letter-spacing:2px;
}
#btnCover:hover{
    background-color:black;
    color:white;
}
div h2.pageFooter{
    background-color:black;
    margin-top:0px;
    border-top:0.2em solid rgb(179, 89, 0);
    border-bottom:none;
}
h2.pageFooter>small{
   font-family: 'Open Sans', sans-serif;
   font-size:14px;
   letter-spacing:0.5px;
   font-weight: bold; 
   color:white;
}
/* DOMANDA.PHP */
#risposteRow{
    display:flex;
    background-color:black;
    font-family:'Roboto Slan',serif;
    flex-direction:row;
    justify-content: center;
    padding:15px 30px !important;
}
.risposta{
    border-radius:50%;
    text-align:center;
    vertical-align: middle;
    width:30px;
    height:30px;
    margin:auto;
    line-height: 25px;
}
.rispostaBase{
    border:2px solid white;
    color:white;
}
.rispostaCorretta{
    border:2px solid rgb(51, 204, 0);
    color:white;
    background-color:rgb(51, 204, 0);
}
.rispostaErrata{
    border:2px solid red;
    color:white;
    background-color:red;
}
/* ./DOMANDA.PHP */




